<td>
    <div class="row">
        <div class="col">
            <h5>{{ item.name }}</h5>
            <p class="text-muted">{{ item.description }}</p>
        </div>

        <div class="col-auto">
            <div class="col-12 pr-0">
                <button (click)="view()" type="button" class="btn btn-sm btn-warning">View</button>
            </div>
            <div class="col-12 mt-3 pr-0">
                <button (click)="delete()" type="button" class="btn btn-sm btn-outline-danger w-100">X</button>
            </div>
        </div>
    </div>
</td>
